@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'Source Sans Pro', sans-serif;
  --primary-background: #101428;
  --primary-accent: #DAFF00;
  --text-primary: #F9F9F9;
  --text-secondary: #EAEAEA;
}

body {
  font-family: var(--primary-font);
  color: var(--text-primary);
  background-color: var(--primary-background);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

a {
  color: var(--primary-accent);
}
